body{
  background-color: #4B0082;
  text-align: center;
  font-family: sans-serif;
  color:#f9ca24;
}

#gagne{
  color:green;
}
#ligne1, #ligne2, #ligne3,#colonne1,#colonne2,#colonne3,#diagonale1,#diagonale2{
  position:absolute;
  visibility: hidden;
  border:1px solid #f9ca24;
}
#ligne1{
  top:370px;
  width:600px;
  left:400px;
}
#ligne2{
  top:500px;
  width:600px;
  left:300px;
}
#ligne3{
  top:650px;
  width:600px;
  left:300px;
}

#colonne1{
  top:500px;
  transform: rotate(90deg);
  width:600px;
  left:135px;
}

#colonne2{
  top:500px;
  transform: rotate(90deg);
  width:600px;
  left:300px;
}

#colonne3{
  top:500px;
  transform: rotate(90deg);
  width:600px;
  left:470px;
}

#diagonale1{
  top:500px;
  transform: rotate(-318deg);
  width:600px;
  left:300px;
}

#diagonale2{
  top:500px;
  transform: rotate(318deg);
  width:600px;
  left:300px;
}
.accueil{
  background-color: #4B0082;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px black;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  color:#f9ca24;
  font-size: 20px;
  text-decoration:none;
  margin-bottom: 10px;
}
.accueil:hover{
  transition: 0.5s;
  box-shadow: 1px 1px 2px 0px #000000;
}
#morpion{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  width:500px;
  margin:auto;
  transform: translateY(20%);

}
.menu2 {

  padding:20px;
}
.mode {
  margin-top: 20px;
  font-size: 20px

}
section{
  border:3px solid #f9ca24;
  padding: 20px 20px 20px;
  border-radius: 15px;
}
.case{
  border:3px solid #f9ca24;
  height:150px;
  line-height: 40px;
  font-size: 60px;
  border-radius: 15px;
}
.verification {
  text-align: center;
  font-size: 30px;

}
#verification {
  color:green;
  text-align: center;
  font-size: 40px;
}
#copyright{
  margin-top:200px;
}
